<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="productline.plugin.view.BrowseProductLineView"
            id="productline.plugin.browseView"
            name="Browse child product lines"
            restorable="true">
      </view>
      <view
            class="productline.plugin.view.WhereUsedView"
            id="productline.plugin.viewWhereUsed"
            name="PL - Where Used (CL)"
            restorable="true">
      </view>
      <view
            class="productline.plugin.view.WhereUsedCodeView"
            id="productline.plugin.viewWhereCodeUsed"
            name="PL - Where Used (Code)"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <file-association
            content-type="productline.plugin.configuration"
            file-extensions="productline"
            file-names="configuration.productline">
      </file-association>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="productline.plugin.editor.ProductLineConfigurationEditor"
            default="false"
            extensions="productline"
            id="productline.plugin.editor"
            name="Product Line">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="productline.plugin.ui.CreateConfigurationCommand"
               label="Create Product Line Configuration"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="productline.plugin.ui.CreateConfigurationCommandHandler"
            id="productline.plugin.ui.CreateConfigurationCommand"
            name="Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="productline.plugin.category1"
            name="Product Line">
      </category>
      <wizard
            category="productline.plugin.category1"
            class="productline.plugin.ui.wizard.CreateProductLineWizard"
            id="productline.plugin.wizard1"
            name="Product Line">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <template
            autoinsert="true"
            contextTypeId="java"
            description="block of code for Variability"
            id="productline.plugin.template.variabilityJava"
            name="variability">
         <pattern>
            /**
 * @variability ${name}
 */
//TODO insert code of your variability
/**
 * @endVariability
 */
         </pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="java"
            description="block of code for Module"
            id="productline.plugin.template.moduleJava"
            name="module">
         <pattern>
            /**
 * @module ${name}
 */
//TODO insert code of your module
/**
 * @endModule
 */
         </pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="xml_tag"
            description="block of code for Variability"
            id="productline.plugin.template.variabilityXmlStart"
            name="variability_start">
         <pattern>
            &lt;!-- @variability ${name} --&gt;
         </pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="xml_tag"
            id="productline.plugin.template.variabilityXmlEnd"
            name="variability_end">
         <pattern>
            &lt;!-- @endvariability --&gt;
         </pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="xml_tag"
            id="productline.plugin.template.variabilityXmlBlock"
            name="variability_block">
         <pattern>
            &lt;!-- @variability ${name} --&gt;

&lt;!-- @endvariability --&gt;
         </pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="xml_tag"
            id="productline.plugin.template.moduleXmlStart"
            name="module_start">
         <pattern>
            &lt;!-- @module ${name} --&gt;
         </pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="xml_tag"
            id="productline.plugin.template.moduleXmlEnd"
            name="module_end">
         <pattern>
            &lt;!-- @endmodule --&gt;
         </pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="xml_tag"
            id="productline.plugin.template.moduleXmlBlock"
            name="module_block">
         <pattern>
            &lt;!-- @module ${name} --&gt;

&lt;!-- @endmodule --&gt;
         </pattern>
      </template>
   </extension>
   <extension
         id="id2"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.jdt.ui.defaultProposalCategory"
            class="productline.plugin.contentassist.ProductLineProposalComputer"
            needsSortingAfterFiltering="false">
      </javaCompletionProposalComputer>
   </extension>

</plugin>
